<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.inputmethod.latin.overlay"
    android:targetPackage="com.google.android.inputmethod.latin">

    <overlay
        android:priority="1"
        android:targetPackage="com.google.android.inputmethod.latin"
        android:isStatic="true" />

</manifest>